
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>درباره ما</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.x/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  />
</head>
<body class="bg-white gradient-background ">

  <section>
    <div class="hero " style="background-image: url(./img/درباره\ ما.png);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">vakilbot.app</h1>
            <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            <button class="btn btn-primary">شروع کنید</button>
          </div>
        </div>
      </div>
</section>
  <section>
   
        <div class="flex align-items-center justify-center px-10 pt-4">
      <div data-aos="zoom-out-up" class="stack max-w-full  ">
        <div class="card shadow-md orange text-primary-content">
          <div class="card-body ">
              <h2 class="card-title text-white text-center align-items-center justify-center ">تیم وکیل بات: همراه شما در دنیای حقوق و تکنولوژی</h2>
              <p class="text-center">تیم وکیل بات با تجربه وسیع و تحقیقات چندین ساله،
                 به پیشرفت در زمینه حقوق و تکنولوژی متعهد است. ما با ارائه راهکارهای نوآورانه
                 و خدمات متخصصانه، از جمله نوشتن قراردادها با هوش مصنوعی، هدفمان ایجاد
                 جامعه‌ای آگاه و امن است. در راستای پیشرو بودن، ما به دنبال ارتقاء
                خدمات حقوقی و استفاده از آخرین دستاوردهای تکنولوژی هستیم.</p>
            </div>              
        </div> 
        <div class="card shadow orange text-primary-content">
          <div class="card-body">
            <h2 class="card-title">Notification 2</h2> 
            <p>You have 3 unread messages. Tap here to see.</p>
          </div>
        </div> 
        <div class="card shadow-sm orange text-primary-content">
          <div class="card-body">
            <h2 class="card-title">Notification 3</h2> 
            <p>You have 3 unread messages. Tap here to see.</p>
          </div>
        </div>
        <div class="card shadow-sm orange text-primary-content">
          <div class="card-body">
            <h2 class="card-title">Notification 3</h2> 
            <p>You have 3 unread messages. Tap here to see.</p>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <section>
      <div class="flex flex-wrap justify-center  pt-8  ">
        <div data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500"class="stack max-w-full px-10">
          <div class="card shadow-md red-gradient text-primary-content">
            <div class="card-body">
              <h2 class="card-title text-white text-center align-items-center justify-center">
                موریت ما: دستیاری هوشمند و دسترسی ۲۴ ساعته
</h2> <p class="text-center">
                  
ما بر آن شدیم تا با بهره‌گیری از هوش مصنوعی، یک دستیار حقوقی تخصصی برای تمامی
 اقشار جامعه فراهم کنیم. این ابزار پیشرفته نه تنها به وکلای محترم کمک می‌کند بلکه به تمام افراد جامعه امکان دسترسی آسان و فوری به اطلاعات و خدمات حقوقی را می‌دهد.
  با وکیل بات، دیگر هیچ کس نمی‌تواند حقوق شما را تضعیف کند.
                </p>
            </div>
          </div> 
          <div class="card shadow red-gradient text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Notification 2</h2> 
              <p>You have 3 unread messages. Tap here to see.</p>
            </div>
          </div> 
          <div class="card shadow-sm red-gradient text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Notification 3</h2> 
              <p>You have 3 unread messages. Tap here to see.</p>
            </div>
          </div>
          <div class="card shadow-sm red-gradient text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Notification 3</h2> 
              <p>You have 3 unread messages. Tap here to see.</p>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-center  pt-8  ">
          <div data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500" class="stack max-w-full px-10">
            <div class="card shadow-md green-gradient text-primary-content">
              <div class="card-body">
                <h2 class="card-title text-white text-center align-items-center justify-center">
                    چرا وکیل بات؟</h2> 
                    <p class="text-center">                  
                      با وکیل بات، تجربه‌ای نوآورانه و دقیق از خدمات حقوقی با استفاده از هوش مصنوعی را کسب کنید. امنیت و آگاهی در هر مرحله از فرایند حقوقی، با تضمین یک تجربه آموزشی و بدون ریسک ارائه می‌شود. متخصصین ما با سال‌ها تجربه و تحقیق، خدمات پیشرفته‌ای از جمله نوشتن قراردادها با هوش مصنوعی را ارائه می‌دهند تا اطمینان و دقت شما را تضمین کنند. ما همواره به دنبال راه‌های جدید برای پیشرفت و بهبود خدمات حقوقی خود هستیم.
                  </p>
              </div>                  
            </div>      
            <div class="card shadow green-gradient text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Notification 2</h2> 
                <p>You have 3 unread messages. Tap here to see.</p>
              </div>
            </div> 
            <div class="card shadow-sm green-gradient text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Notification 3</h2> 
                <p>You have 3 unread messages. Tap here to see.</p>
              </div>
            </div>
            <div class="card shadow-sm green-gradient text-primary-content">
              <div class="card-body">
                <h2 class="card-title">Notification 3</h2> 
                <p>You have 3 unread messages. Tap here to see.</p>
              </div>
            </div>
          </div>
        
        </div>
          </div>
        </div>  
 
   <section >
    <footer
      class="border bg-primary overflow-y-hidden rounded-t-lg border-x-4 border-indigo-500 my-2 text-base-content max-w-full"
    >
      <div class="footer footer-center">
        <div class="grid grid-flow-col gap-6 mt-8 px-2">
          <a href="/about"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >درباره ما</a
          >
          <a href="contact"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >ارتباط با ما</a
          >
          <a
            href="https://chat.vakilbot.app"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >چت باهوش مصنوعی</a
          >
          <a

            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >وکیل تخصصی</a
          >
          <a
            href="/laws"
            class="link link-hover text-gray-50 hove:text-amber-300 text-lg font-bold"
            >قوانین سایت</a
          >
        </div>

        <div>
          <div class="flex justify-center space-x-8">
            <!-- WhatsApp Icon -->
            <a href="https://wa.me/YOURNUMBER" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
        
            <!-- Phone Icon -->
            <a href="tel:YOURNUMBER" class=" transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fas fa-phone-alt fa-2x"></i>
            </a>
        
            <!-- Instagram Icon -->
            <a href="https://instagram.com/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        
            <!-- GitHub Icon -->
            <a href="https://github.com/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-github fa-2x"></i>
            </a>
        
            <!-- Telegram Icon -->
            <a href="https://t.me/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-telegram-plane fa-2x"></i>
            </a>
        </div>
        

        <div class="flex justify-start items-center">
          <!-- بخش تصویر -->

          <!-- بخش محتوای کناری (Aside) -->
          <aside>
            <p class="text-gray-50 hover:text-amber-200 mr-4 mt-8">
              Copyright © 2023 - تمامی حقوق مربوط به سایت وکیل بات محفوظ است
            </p>
          </aside>
        </div>
        <div class="">
          <a
          referrerpolicy="origin"
          target="_blank"
          href="https://trustseal.enamad.ir/?id=432598&Code=PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
          ><img
            referrerpolicy="origin"
            src="https://trustseal.enamad.ir/logo.aspx?id=432598&Code=PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
            alt=""
            style="cursor: pointer"
            Code="PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
        /></a>
        </div>
      </div>
    </footer>
</section> 
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
    