<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>صفحه تماس باوکیل</title>
  <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.x/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/contact.css">
  <style>
    
  </style>
</head>
<body class="">
<div id="particles-js" style="position: absolute; width: 100%; height: 100%;"></div>
<section>
  <div class="hero " style="background-image: url(/img/vakilhosh.png);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">vakilbot.app</h1>
          <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
          <button class="btn btn-primary">شروع کنید</button>
        </div>
      </div>
    </div>
</section>
<section>
  <div class=" flex justify-center  z-40">
    <div class=" mx-auto  max-w-sm z-40">
        <div class="diagonal-bg-2 rounded-t-lg overflow-hidden mt-20 position relative top-1">
            <div class="p-6">
                <p class="block text-cyan-800 text-lg font-bold "> درسریع ترین زمان ممکن باشما تماس گرفته خواهد شد</p>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-center  z-40">
    <div class="container mx-auto  max-w-sm ">
        <div class="diagonal-bg  shadow-md rounded-lg overflow-hidden">
            <div class="p-6">
                <h2 class="block text-cyan-800 text-lg font-bold flex justify-center"> لطفا فرم زیر را پرکنید</h2>
            <form action="#" method="POST" class="p-4 z-40">
              <div class="mb-4">
                <input class="z-40 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-solid hover:border-x-4 border-indigo-200 bg-white " id="name" type="text" placeholder="*نام شما">
              </div>
              <div class="mb-4 ">
                <input class=" shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline  hover:border-x-4 border-indigo-200 bg-white" id="phone" type="text" placeholder="*تلفن شما">
              </div>
              <div class="mb-4">
              <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline hover:border-x-4 border-indigo-200 bg-white" id="select">
                  <option value>*استان خود را انتخاب کنید</option>
                  <option value="تهران">تهران</option>
                  <option value="اصفهان">اصفهان</option>
                  <option value="1">آذربايجان شرقي</option>
                  <option value="2">آذربايجان غربي</option>
                  <option value="3">اردبيل</option>
                  <option value="5">البرز</option>
                  <option value="6">ايلام</option>
                  <option value="7">بوشهر</option>
                  <option value="9">چهارمحال بختياري</option>
                  <option value="10">خراسان جنوبي</option>
                  <option value="11">خراسان رضوي</option>
                  <option value="12">خراسان شمالي</option>
                  <option value="13">خوزستان</option>
                  <option value="14">زنجان</option>
                  <option value="15">سمنان</option>
                  <option value="16">سيستان و بلوچستان</option>
                  <option value="17">فارس</option>
                  <option value="18">قزوين</option>
                  <option value="19">قم</option>
                  <option value="20">كردستان</option>
                  <option value="21">كرمان</option>
                  <option value="22">كرمانشاه</option>
                  <option value="23">كهكيلويه و بويراحمد</option>
                  <option value="24">گلستان</option>
                  <option value="25">گيلان</option>
                  <option value="26">لرستان</option>
                  <option value="27">مازندران</option>
                  <option value="28">مركزي</option>
                  <option value="29">هرمزگان</option>
                  <option value="30">همدان</option>
                  <option value="31">يزد</option>
                  <!-- اضافه کردن شهرهای دیگر در اینجا -->
              </select>
              </div>
              <div class="mb-6">
                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-double  hover:border-4 border-sky-500 bg-white" id="message" placeholder="*پیام شما"></textarea>
              </div>
              <div class=" items-center flex justify-center">
                <button class="btn bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                  ارسال پیام
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
</section>
<section >
  
    <footer
      class="border bg-primary overflow-y-hidden rounded-t-lg border-x-4 border-indigo-500 my-2 text-base-content max-w-full"
    >
      <div class="footer footer-center">
        <div class="grid grid-flow-col gap-6 mt-8 px-2">
          <a href="/about"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >درباره ما</a
          >
          <a href="contact"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >ارتباط با ما</a
          >
          <a
            href="https://chat.vakilbot.app"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >چت باهوش مصنوعی</a
          >
          <a

            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >وکیل تخصصی</a
          >
          <a
            href="/laws"
            class="link link-hover text-gray-50 hove:text-amber-300 text-lg font-bold"
            >قوانین سایت</a
          >
        </div>

        <div>
          <div class="flex justify-center space-x-8">
            <!-- WhatsApp Icon -->
            <a href="https://wa.me/YOURNUMBER" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
        
            <!-- Phone Icon -->
            <a href="tel:YOURNUMBER" class=" transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fas fa-phone-alt fa-2x"></i>
            </a>
        
            <!-- Instagram Icon -->
            <a href="https://instagram.com/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        
            <!-- GitHub Icon -->
            <a href="https://github.com/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-github fa-2x"></i>
            </a>
        
            <!-- Telegram Icon -->
            <a href="https://t.me/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-telegram-plane fa-2x"></i>
            </a>
        </div>
        

        <div class="flex justify-start items-center">
          <!-- بخش تصویر -->

          <!-- بخش محتوای کناری (Aside) -->
          <aside>
            <p class="text-gray-50 hover:text-amber-200 mr-4 mt-8">
              Copyright © 2023 - تمامی حقوق مربوط به سایت وکیل بات محفوظ است
            </p>
          </aside>
        </div>
        <div class="">
          <a
          referrerpolicy="origin"
          target="_blank"
          href="https://trustseal.enamad.ir/?id=432598&Code=PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
          ><img
            referrerpolicy="origin"
            src="https://trustseal.enamad.ir/logo.aspx?id=432598&Code=PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
            alt=""
            style="cursor: pointer"
            Code="PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
        /></a>
        </div>
      </div>
    </footer>
</section> 


  

</body>
</html>
